body {
    margin: 0;
    font-family: "Smythe", sans-serif;
    position: relative;
} 

header {
    background: url("/images/nav-bar-img.jpg") no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

main {
   position: relative; 
}

.title, .subtitle {
    color: white;
    padding: 5px
}

.title {
    margin-bottom: 0;
}

.subtitle {
   margin-top: 0px;
   margin-bottom: 30px; 
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 20px 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}

.card-items {
    margin-left: 30px;
    flex-grow: 1;
}

.card > span {
    font-size: 70px;
}

.addItems {
    font-size: x-large;
}

.addItems > button {
    border: 1px solid grey;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    
}

#order-section, 
.foodItems,
.total {
    font-size: 1.75rem
}

#order-section {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h3 {
    margin: 5px;
}

.foodItems {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.total {
    display: flex;
    border-top: 1px solid #393333;
    padding-top: 30px;
    padding-bottom: 53px;
    justify-content: space-between;
}

.price-X {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 25px;
}

.remove {
    font-size: 1rem;
    color: #5C5C5C;
    background-color: #FFFFFF;
    border: 2px solid gray;
    border-radius: 50%;
    cursor: pointer;
}



.completeBtn, .payBtn, .discountBtn {
    background-color: #16DB99;
    color: #FFFFFF;
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
}

/* Payment Form */

.hidden {
    display: none;
}

.details {
    position: fixed;
    font-size: 1.2rem;
    top: 150px;
    left: 175px;
    right: 175px;
    width: 300px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

.payment-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.payment-form > input {
    padding: 10px;
    margin: 10px 0;
}

.payBtn {
    margin-top: 20px;
}

.closeBtn {
    cursor: pointer; 
    position: absolute;
    right: 15px;
    padding-bottom: 10px;
}

.discount-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border: 1px solid grey;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.discount-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px;
}

.discount-form > input {
    margin-left: 1px;
    padding: 5px;
}

.card-claimDiscount {
    position: fixed;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    font-size: 1.5rem;
    font-family: sans-serif;
    border: 1px solid gray;
    text-align: center;
}



.card-claimDiscount-content {
    display: flex;
    flex-direction: column;
}

/* .card-claimDiscount > .closeBtn {
    position: relative;
    top: 0px;
    right: 0px;
    border: 1px solid red;
} */